
.upper-logo {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 50px;
    width: 130px;
    height: 39px;
}

.nav-div {
   
    padding:7px;
    border: 3px solid #08034d;
    background-color: #838387;
}

.nav-div ul {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    align-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
}

.nav-div li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.nav-div li {
    float: left;

}

.nav-div li a:hover {
    background-color: #111;

}

.body-bg {
    background-image: url(/IMAGES/bg-white-laptop.jpg);
    background-repeat: no-repeat, repeat;
    background-size: 100%;
    
   

}

.header-text {
    margin-top: 30px;
    margin-left: 220px;
    margin-bottom: 30px;
    font-size: 70px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  


/* CONTENT FILES CSS */
  .content-div img {
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 50px;
    width: 1200px;
    height: 600px;
    opacity: 40%;
  }

  .content-div img:hover {
   
    opacity: 100%;
  }


  .content-div li a {
    background-color: #5a5877;
    font-weight: bold;
    font-size: 50px;
    color: white;
   
   
  }

  .content-div li a:hover {
    background-color: #030303;
    
   
  }

  .content-div ul {
    border-style: solid;
    background-color: rgb(110, 106, 106);
    background-image: url(/IMAGES/bg-black2.jpg);
    margin-right: 50%;
  }


  .back-to-top {
    margin-top: 30px;
    margin-left: 2px;
    margin-bottom: 30px;
    font-size: 70px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }